/* base config */
*{
    padding:0;
    margin:0;
}

body, p, td, th, div{
    font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;	
    font-size: 11px;
    margin:0;
    padding:0;
}

table{
    border-spacing:0px;
    border:none;
}


img{
    border:none;
}

/**/
