
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/signin.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vmenuModule.css" />
    <link rel="stylesheet" href="~/Content/css/pushy.css">
    <link type="text/css" href="~/Content/Images1/icons/css/font-awesome.css" rel="stylesheet">

    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>


    <link href="~/Content/easyui/easyui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/easyui/demo.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/easyui/icon.css" rel="stylesheet" type="text/css" />*@


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="js/bootstrap.min.js"></script>*@

    @*<script src="~/Content/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>*@
    @*<script src="~/Content/scripts/jquery-1.10.2.min.js" type="text/javascript"></script>*@
    <script src="~/Content/scripts/jquery-migrate-1.2.1.js" type="text/javascript"></script>
    <script src="~/Content/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

    <script src="~/Scripts/BlockUI/jquery.blockUI.js"></script>

    <script src="~/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/js/menuscript.js"></script>

    <script src="~/Content/easyui/easyui_datagrid_js_export_excel.js"></script>
    <script type="text/javascript" src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/easyui/datagrid-detailview.js"></script>
    <script type="text/javascript" src="~/Content/easyui/easyui-lang-en.js"></script>
    @RenderSection("styles", required: false)
    @*<script src="~/Content/js/jquery-latest.min.js" type="text/javascript"></script>*@


    @*<script src="~/Content/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="~/Content/scripts/common.js" type="text/javascript"></script>*@

    <script src="~/Content/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Content/scripts/jquery.validate.min.js"></script>
    <script src="~/Content/scripts/jquery.validate.unobtrusive.min.js"></script>



    @*<script type="text/javascript" src="https://www.google.com/jsapi"></script>*@
    @*<script src="~/Scripts/MicrosoftAjax.debug.js"></script>
        <script src="~/Scripts/MicrosoftMvcAjax.debug.js"></script>
        <script src="~/Scripts/MicrosoftMvcValidation.debug.js"></script>*@

    @*<link href="~/static/modules/gviz/1.0/core/tooltip.css" rel="stylesheet" />*@
    <script src="~/Scripts/GoogleRef/api.js" type="text/javascript"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript">
        $("#accordion > li > span").click(function () {
            console.log("#accordion > li > span click");
            $(this).closest('li').siblings().find('span').removeClass('active').next('div').slideUp(250);
            $(this).toggleClass("active").next('div').slideToggle(250);
        });
    </script>
    <link rel="stylesheet" href="~/Content/jqueryui/jquery-ui.css">
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $('#accordion').collapse('show').height('auto');
            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $(document).on("click touchend", function () {
                console.log("click touchend");
                $("#primary_nav_wrap").removeClass("open");
            });
        });
    </script>
    <script type="text/javascript" src="~/Content/js/vmenuModule.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".u-vmenu").vmenuModule({
                Speed: 200,
                autostart: false,
                autohide: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('select:not(.ignore)').niceSelect();
            FastClick.attach(document.body);
        }); </script>
    <script>
        var myflash;
        var reminded = false;
        function highlight() {
            var ofs = 0;
            if (!reminded) {
                myflash = setInterval(function () {
                    $('#inputUsername').css('background', 'rgba(255,0,0,' + Math.abs(Math.sin(ofs)) + ')');
                    $('#inputPassword').css('background', 'rgba(255,0,0,' + Math.abs(Math.sin(ofs)) + ')');
                    ofs += 0.01;
                }, 10);
                reminded = true;
            }
        }
        function stophighlight() {
            clearInterval(myflash);
            $('#inputUsername').css('background-color', 'white');
            $('#inputPassword').css('background-color', 'white');
        }
    </script>
    <script>
        function msg(str) {
            alert(str);
        }
    </script>

    <script src="~/Content/js/jquery.nice-select.js"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
